# Static code style checkers and fixers
flake8==3.3.0
isort==4.2.15
autopep8==1.3.3

# This is a builtin in Python 3.3 and above
mock==2.0.0

# Spider the demo in tests
beautifulsoup4==4.6.0
mechanicalsoup==0.10.0
requests==2.19.1

# Read .travis.yml so that our pypi version metadata matches our tests
PyYAML==3.13

# Packaging up for pypi
wheel==0.30.0

# Code coverage
codecov==2.0.15
coverage==4.5.1