flake8==3.3.0
isort==4.2.15
autopep8==1.3.3
mock==2.0.0  # This is a builtin in Python 3.3 and above
beautifulsoup4==4.6.0
mechanicalsoup==0.10.0
requests==2.19.1
PyYAML==3.12
wheel==0.30.0
# paramiko==2.1.2  # Only needed if trying to run tests against remote docker engine